body {
    background-color: #FFFFFF;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
.word {
    font-family: Bickham Script One;
    font-size: 154px;
    font-weight: 400;
    line-height: normal;
    display: inline;
}
.banner {
    text-align: center;
    padding-block: 53px 50px;
}
.title {
    font-family: Copperplate;
    font-size: 54px;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    color: #1A1A1A;
    margin-block: 0;

}
.title--white {
    color: white;
}
.text {
    /* color: #262626; */
    text-align: center;
    font-family: Copperplate;
    font-size: 35px;
    font-weight: 400;
    line-height: normal;
}
.footer__detail {
    margin-top: -30px;
}
