footer {
    background: #1A1A1A;
}
.subscribe_word {
    color: white;
}
.subscribe_title {
    color: white;
}
.subscribe__wrapper {
    margin-top: 374px;
    margin-bottom: 164px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.form__input {
    border: none;
    border-bottom: 2px solid #797979;
    color: var(--white, #FFF);
    font-family: Copperplate;
    font-size: 45px;
    font-weight: 400;
    line-height: normal;
    background: transparent;
    margin-top: 101px;
}

.form__btn {
    border-radius: 23px;
    background: #1A1A1A;
    padding: 15px 35px;
    color: white;
    font-family: Copperplate;
    font-size: 45px;
    font-weight: 400;
    line-height: normal;
    background: transparent;
    margin-top: 87px;
}
.form__white {
    background-color: white;
    color: #1A1A1A;;
}
.info-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__info {
    color: var(--white, #FFF);
    text-align: left;
    font-family: Copperplate;
    font-size: 38px;

}

.copyright {
    color: var(--white, #FFF);
    text-align: right;
    font-family: Copperplate;
    font-size: 38px;
}