@import url('https://fonts.cdnfonts.com/css/bickham-script-one');

@font-face {
    font-family: 'Bickham script one';
    src: url(/../fonts/bickham-script-one.woff);
}
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito+Sans:opsz,wght@6..12,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito+Sans&display=swap');

.gallery {
    background: linear-gradient(180deg, #E9E6D6 0%, rgba(255, 255, 255, 0.00) 100%);

}

/* .gallery__banner {} */

.gallery__photo {
    display: flex;
    gap: 80px;
    margin-top: 105px;
}
.benefits__arrow {
    display: flex;
    flex-direction: column;
}
.back {
    border: none;
    background: transparent;
}
.backpr {
    padding-right: 1500px;
}
.photo2 {
    padding-left: 150px;
}
.braclets {
    max-height: 541px;
}
.photo1 {
    grid-area: photo1;
}

.photo2 {
    grid-area: photo2;
}

.photo3 {
    grid-area: photo3;
    margin-inline: 57px 11px;
}

.photo4 {
    grid-area: photo4;
}

.benefits {
    background-color: #1A1A1A;
}

.benefits__wrapper {
    padding: 243px 143px 180px;
}

.benefits_word {
    color: #FFFFFF;
}

.benefits_title {
    color: #FFFFFF;

}

.benefits_text {
    color: rgba(255, 255, 255, 0.50);
}

.bold {
    color: #E9E7DB;
    font-family: Copperplate;
    font-size: 43x;
    font-weight: 400;
    line-height: normal;
}

.benefits_description {
    text-align: left;
    color: rgba(255, 255, 255, 0.50);
    font-family: Copperplate;
    font-size: 43px;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 105px;
}

.photo__title {
    color: #FFF;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.title1 {
    padding-left: 350px;
}
.title2 {
    padding-right: 272px;
}
.gallery_title {
    padding-top: 240px;
}
.story {
    background-color: #1A1A1A;
    padding-bottom: 147px;
}
.story__banner {
    color: #FFFFFF;
}

.story__flex {
    display: flex;
    gap: 75px;
}

.hidden {
    display: none;
}

.story__cards-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 688px;
    column-gap: 73px;
    padding-top: 82px;

}

.story__arrow {
    background: transparent;
    border: none;
}

.story__card-text {
    color: var(--white, #FFF);
    font-family: Copperplate;
    font-size: 26px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 156px;
}

footer {
    background: #EAE7D9;
}

.subscribe_word {
    color: #1A1A1A;
}

.subscribe_title {
    color: #1A1A1A;
}

.subscribe__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form__input {
    border: none;
    border-bottom: 2px solid #1A1A1A;
    color: #1A1A1A;
    font-family: Copperplate;
    font-size: 45px;
    font-weight: 400;
    line-height: normal;
    background: transparent;
    margin-top: 101px;
}

.footer__subscribe--black {
    background-color: #1A1A1A;
}

.form__btn {
    border-radius: 23px;
    padding: 15px 60px 15px 41px;
    background-color: #1A1A1A;
    color: #ffffff;
    font-family: Copperplate;
    font-size: 45px;
    font-weight: 400;
    line-height: normal;
    margin-top: 87px;
}

.footer__info {
    color: #1A1A1A;
    text-align: left;
    font-family: Copperplate;
    font-size: 38px;

}

.info-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.copyright {
    color: #1A1A1A;
    text-align: right;
    font-family: Copperplate;
    font-size: 38px;
}
@font-face {
    font-family: 'Bickham script one';
    src: url(/../fonts/bickham-script-one.woff);
}

body {
    background: #F2F2F2;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

.search {
    border: none;
    background: none;
}

.divider {
    height: 5px;
    position: relative;
    background: linear-gradient(90deg, rgba(217, 217, 217, 0.80) 0%, rgba(217, 217, 217, 0.00) 97.04%);
    margin-bottom: 33px;
}

.word {
    font-family: Bickham Script One;
    font-size: 154px;
    font-weight: 400;
    line-height: normal;
    display: inline;
}

.banner {
    text-align: center;
    /* padding-block: 53px 50px; */
}

.emblem_title {
    color: #1E1E1F;
    font-family: Copperplate;
    font-size: 31.02px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.emblem_word {
    color: #1E1E1F;
    font-family: Bickham Script One;
    font-size: 69px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.title {
    font-family: Copperplate;
    font-size: 54px;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    color: #1A1A1A;
    margin-block: 0;

}

.title--white {
    color: white;
}

.text {
    /* color: #262626; */
    text-align: center;
    font-family: Copperplate;
    font-size: 35px;
    font-weight: 400;
    line-height: normal;
}

.footer__detail {
    margin-top: -30px;
}
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito+Sans:opsz,wght@6..12,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito+Sans&display=swap');

footer {
    background: #EAE7D9;
}

.row {
    max-width: 1400px;
    margin: 0 auto;
    padding: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 350px;
}

.column {
    max-width: 1400px;
    margin: 0 auto;
    padding: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 85px;
}

.distribution__title {
    color: var(--white, #000000);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 37px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -205px;
}

.footer__menu {
    color: rgba(255, 255, 255, 0.50);
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style-type: none;
    padding: 0;
}

.wrapper__info {
    max-width: 1400px;
    margin: 0 auto;
    padding: 1px;
    display: flex;
    flex-direction: row;
    gap: 143px;
    margin-top: 145px;
}

.footer__common {
    text-decoration: none;

}

.text--opacity {
    color: rgba(0, 0, 0, 0.50);
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.common--white {
    color: #000000;
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__text {
    color: #000000;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.6;
    margin-top: 19px;

}

.footer__name {
    color: #000000;
    font-family: Copperplate;
    font-size: 51px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -250px;
}

.footer_word {
    color: #000000;
    font-family: Bickham Script One;
    font-size: 145px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__detals {
    max-width: 1423px;
    margin: 0 auto;
    padding: 1px;
    gap: 60px;
    list-style-type: none;
    margin-top: 107px;
    margin-bottom: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.follow {
    flex-grow: 1;
}

.follow__form {
    position: relative;
    max-width: max-content;
    margin-top: 40px;
}

.follow__email {
    border-radius: 14px;
    background: #363535;
    width: 797px;
    height: 69px;
    box-sizing: border-box;
}

.follow__btn {
    width: 232px;
    height: 70px;
    border-radius: 13px;
    background: var(--white, #ffffff);
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

}

.footer__subtitle {
    color: #000000;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subscribe_word {
    color: white;
}

.subscribe_title {
    color: white;
}

.subscribe__wrapper {
    margin-top: 374px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form__input {
    border: none;
    border-bottom: 2px solid #797979;
    color: var(--white, #000000);
    font-family: Copperplate;
    font-size: 45px;
    font-weight: 400;
    line-height: normal;
    background: transparent;
    margin-top: 101px;
}

.form__btn {
    border-radius: 23px;
    background: #1A1A1A;
    padding: 15px 35px;
    color: white;
    font-family: Copperplate;
    font-size: 45px;
    font-weight: 400;
    line-height: normal;
    background: transparent;
    margin-top: 87px;
}

.form__white {
    background-color: white;
    color: #1A1A1A;
    ;
}

.info-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__info {
    color: var(--white, #000000);
    text-align: left;
    font-family: Copperplate;
    font-size: 38px;

}

.info-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.copyright {
    color: #000000;
    text-align: right;
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 55px;
}
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito+Sans:opsz,wght@6..12,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito+Sans&display=swap');

footer {
    background: #1A1A1A;
}

.row {
    max-width: 1400px;
    margin: 0 auto;
    padding: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 350px;
}

.column {
    max-width: 1400px;
    margin: 0 auto;
    padding: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 85px;
}

.distribution__title {
    color: var(--white, #FFF);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 37px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -205px;
}

.footer__menu {
    color: rgba(255, 255, 255, 0.50);
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style-type: none;
    padding: 0;
}

.wrapper__info {
    max-width: 1400px;
    margin: 0 auto;
    padding: 1px;
    display: flex;
    flex-direction: row;
    gap: 143px;
    margin-top: 145px;
}

.footer__common {
    text-decoration: none;

}

.text--opacity {
    color: rgba(255, 255, 255, 0.50);
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.common--white {
    color: #FFF;
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__text {
    color: #FFF;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.6;
    margin-top: 19px;

}

.footer__name {
    color: #FFF;
    font-family: Copperplate;
    font-size: 51px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -250px;
}

.footer_word {
    color: #FFF;
    font-family: Bickham Script One;
    font-size: 145px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__detals {
    max-width: 1423px;
    margin: 0 auto;
    padding: 1px;
    gap: 60px;
    list-style-type: none;
    margin-top: 107px;
    margin-bottom: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.follow {
    flex-grow: 1;
}

.follow__form {
    position: relative;
    max-width: max-content;
    margin-top: 40px;
}

.follow__email {
    border-radius: 14px;
    background: #363535;
    width: 797px;
    height: 69px;
    box-sizing: border-box;
}

.follow__btn {
    width: 232px;
    height: 70px;
    border-radius: 13px;
    background: var(--white, #FFF);
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

}

.footer__subtitle {
    color: #FFF;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subscribe_word {
    color: white;
}

.subscribe_title {
    color: white;
}

.subscribe__wrapper {
    margin-top: 374px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form__input {
    border: none;
    border-bottom: 2px solid #797979;
    color: var(--white, #FFF);
    font-family: Copperplate;
    font-size: 45px;
    font-weight: 400;
    line-height: normal;
    background: transparent;
    margin-top: 101px;
}

.form__btn {
    border-radius: 23px;
    background: #1A1A1A;
    padding: 15px 35px;
    color: white;
    font-family: Copperplate;
    font-size: 45px;
    font-weight: 400;
    line-height: normal;
    background: transparent;
    margin-top: 87px;
}

.form__white {
    background-color: white;
    color: #1A1A1A;
    ;
}

.info-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__info {
    color: var(--white, #FFF);
    text-align: left;
    font-family: Copperplate;
    font-size: 38px;

}

.info-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.copyright {
    color: #FFF;
    text-align: right;
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 55px;
}
header {}

.wrapper {
    background: #FFFFFF;
}

.wrapper--white {
    background: #FFFFFF;
    border-radius: 20px;
    margin: 22px 27px;
}

.services {
    padding-inline: 150px;
    height: 103px;
}

.logo__banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo_title {
    padding-left: 630px;
}

.search__img {
    padding-right: 70px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 411px;
}

.nav__link {
    color: #0B0C12;
    font-family: Copperplate;
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
    padding: 9px 15px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav__link:hover,
.nav__link--selected {
    color: #B1A086;
}
header {}

.wrapper {
    background: #FFFFFF;
}

.wrapper--white {
    background: #FFFFFF;
    border-radius: 20px;
    margin: 22px 27px;
}

.services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 103px;
    padding-inline: 65px;
}

.logo__banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo_title {
    padding: 17px 615px 53px;
}

.search__img {
    padding-right: 70px;
}

.nav {
    display: flex;
    flex-direction: row;
    column-gap: 35px;
}

.nav__link {
    color: #0B0C12;
    font-family: Copperplate;
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
    padding: 9px 15px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav__link:hover,
.nav__link--selected {
    color: #B1A086;
}
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito+Sans:opsz,wght@6..12,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito+Sans&display=swap');

body {
    background: #1E1E1F;
}

.stones {
    padding-bottom: 82px;
    display: flex;
    flex-direction: row;
    gap: 180px;}

.stones__banner {
    color: #FFFFFF;
    padding: 103px 565px 41px;
}

.stones_button {
    border-radius: 39px;
    background: #C5AB84;
    width: 319px;
    height: 68px;
    margin: 0 auto;
    display: block;
}

.nav__button {
    color: #FFF;
    text-align: center;
    font-family: Copperplate;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 22px 114px 17px 90px;
    text-decoration: none;
    display: block;
    position: relative;
    align-items: center;
}

.circle {
    position: relative;
    left: 242px;
    bottom: 74px;
}

.stones_title {
    text-align: center;
}

.stones_text {
    color: #FFF;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 26.424px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.shell {
    display: flex;
    flex-direction: row;
    gap: 26px;
    padding: 60px 40px 42px 40px;
}

.shell-image {
    margin: 0 auto;
    display: block;
    border-radius: 20px;
}

.item__img {
    margin-left: -250px;
}

.application {
    padding: 130px 0;
    background: #EFECEC;
}
.make__img {
    margin-right: -360px;
    margin-top: -360px;
}
.item {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    padding-inline: 245px;
    box-sizing: border-box;
    column-gap: 211px;
    margin-top: 229px;
}

.item__text {
    color: #000;
    font-family: Nunito Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 150px;
}

.item__info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content__wrapper {
    margin: 0 auto;
    width: 1064px;
}

.content__btn {
    background: transparent;
    border: none;
    padding: 35px;
}

.content__title {
    color: var(--black, #000);
    font-family: Copperplate;
    font-size: 38px;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: row;

}

.content__word {}

.content__details {
    border-bottom: 5px solid rgba(0, 0, 0, 0.30);
    padding-left: 16px;
}

.content__details:first-child {
    border-top: 5px solid rgba(0, 0, 0, 0.30);
}

.content__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

.content__banner {
    margin-top: 200px;
}

.content__text {
    line-height: 32px;
    font-size: 24px;
    font-family: Copperplate;
}

.content__more {
    height: 176px;
    transition: all 0.5s ease-in;
}

.content__more--hidden {
    height: 0;
    opacity: 0;
}

.content__more--hidden p {
    display: none;
}
.application__img {
    margin-top: -360px;
}
.accessories_text {
    padding: 60px 167px 157px;
    position: relative;
}
.accessories_title {
    color: #FFF;
    font-family: Copperplate;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.accessories_word {
    color: #FFF;
    font-family: Bickham Script One;
    font-size: 167px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.accessories__text {
    color: #FFF;
    font-family: Nunito Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito+Sans:opsz,wght@6..12,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito+Sans&display=swap');

.quest {
    background: #1E1E1F;
    height: 1000px;
}
.quest__wrapper {
    padding-top: 190px;
    padding-left: 100px;
}
.form__input--large {
    width: 630px;
    margin-top: 35px;
    box-sizing: border-box;
}

.form__inputt {
    border: none;
    border-bottom: 2px solid;
    color: rgba(255, 255, 255, 0.50);
    font-family: Nunito Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    background: transparent;
    margin-top: 101px;
}

.quest__subtitle {
    color: rgba(255, 255, 255, 0.40);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 31px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 100px;
    padding-top: 15px;
}

.quest_menu {
    padding-left: 0;
    column-gap: 45px;
}
.quest__foto {
    margin-left: -29px;
}
.quest_menu .quest_common {
    color: #FFF;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 31px;
    font-style: normal;
    font-weight: 400;
    list-style-type: none;
    text-decoration: none;
}

.quest {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito+Sans:opsz,wght@6..12,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito+Sans&display=swap');
.cards {
    background: #1E1E1F;
    height: 1000px;
}

.cards__wrapper {
    display: flex;
    flex-direction: row;
    gap: 105px;
    padding: 170px 45px;
    align-items: center;
}

.cards__card--design {
    background-size: cover;
}

.cards__card {
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.40);
    position: relative;
    padding: 24px 15px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.cards__foto {
    border-radius: 20.076px;
    border: 1px solid rgba(255, 255, 255, 0.40);
    padding: 130px 180px;
    max-width: 622px;
    max-height: 622px;
}

.cards__card-text {
    color: #FFF;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.cards__arrow {
    border: none;
    background: transparent;
}
.cards__arrow--next {
    transform: rotate(180deg);
}
.promo {
    background-color: #F2F2F2;
}

.box {
    margin-top: 20px;
    margin-bottom: 158px;
    margin-inline: auto;
    width: max-content;
}

.cards__flex {
    display: flex;
    gap: 60px;
    padding-inline: 75px;
}

.card--black {
    background-color: black;
}

.card {
    font-family: Copperplate;
    width: 50%;
    display: flex;
    flex-direction: row;
    column-gap: 60px;
    align-items: center;
    height: 455px;
    box-sizing: border-box;
    font-weight: 400;
    line-height: normal;
    border-radius: 18px;
    border: 3px solid #2626264D;
    color: rgba(38, 38, 38, 0.20);
    background-color: none;
    justify-content: center;
}

.card:hover {
    background-color: #1A1A1A;
    color: white;
    border-color: #1A1A1A;
}

.card-title {
    font-size: 158px;
}

.card-text {
    font-size: 42px;
}

.description {
    background: linear-gradient(179deg, rgba(232, 228, 212, 0.00) -31.2%, #E8E4D4 98.98%);
    padding-bottom: 75px;
}

.description_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "design img creator"
        "year img ."
        "reloader img nowadays";
    padding: 130px;
}

.design {
    grid-area: design;
}

.creator {
    grid-area: creator;
    justify-self: center;
}

.year {
    grid-area: year;
    justify-self: center;
}

.reloader {
    grid-area: reloader;
}

.nowadays {
    grid-area: nowadays;
    justify-self: center;
}

.braclet {
    display: block;
    grid-area: img;
    justify-self: center;
}

.description_word .description_title {
    color: #1A1A1A;
}

.description_item {
    color: var(--black, #1A1A1A);
    font-family: Copperplate;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    display: inline-block;
}

.description_item .description_tooltip {
    visibility: hidden;
    width: 440px;
    background-color: white;
    color: #1A1A1A;
    border-radius: 17px;
    padding: 28px 36px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 80px;
    left: 0;
    box-sizing: border-box;
    font-size: 32px;
}

.description_item:hover .description_tooltip {
    visibility: visible;
}

.description__hover {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    max-width: max-content;
}

.description__hover span {
    /* display: inline; */
    color: rgba(116, 114, 106, 0.20);
    font-family: Copperplate;
    font-size: 94px;
    font-weight: 300;
    line-height: 68%;
}

.description__hover p {
    /* display: inline; */
    color: rgba(0, 0, 0, 0.50);
    font-family: Copperplate;
    font-size: 32px;
    font-weight: 400;
    line-height: 68%;
    text-align: center;
}

.map {
    background: #1A1A1A;
    padding-bottom: 92px;
}
.map__hashtag {
    color: var(--white, #FFF);
    font-family: Copperplate;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.map__bar {
    justify-content: center;
    align-items: center;
    display: flex;
    column-gap: 15px;
    flex-direction: row;
}
.map__bar img {
    margin-right: 45px;
}
.overview__banner {}

.overview_wrapper {
    display: flex;
    column-gap: 80px;
    margin-top: 154px;
    margin-bottom: 193px;
    justify-content: center;
    flex-direction: row;
}

.overview_word .overview_title {
    color: #1A1A1A;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
