<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shkatulka</title>
    <link href="https://fonts.cdnfonts.com/css/bickham-script-one" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>
    <header>
        <div class="wrapper--white">
            <div class="services services--white">
                <nav class="header__nav nav">
                    <a class="nav__link " href="./promo.html">Промо</a>
                    <a class="nav__link nav__link--selected" href="./index.html">О нас</a>
                </nav>
                <h1 class="emblem_title title--black ">
                    <span class="emblem_word">Ш</span>катулка
                </h1>
            </div>
        </div>
    </header>
    <main>
        <section class="promo">
            <div class="cover">
                <div class="promo__banner banner">
                    <h1 class="promo_title title">
                        <span class="promo_word word">П</span>ривет
                    </h1>
                    <p class="promo_text text">мы, медиа-сервис «шкатулка»<br>храним информацию<br>про драгоценные
                        украшения<br>и камни</p>
                </div>
                <div class="box">
                    <img class="box-image" src="/assets/box/green.png" alt="">
                    <img class="box-image" src="/assets/box/yellow.png" alt="">
                    <img class="box-image" src="/assets/box/blue.png" alt="">
                </div>
                <div class="cards__flex">
                    <div class="card">
                        <h2 class="card-title"> 100
                        </h2>
                        <p class="card-text">видов<br>драгоценных<br>камней</p>
                    </div>
                    <div class="card">
                        <h2 class="card-title"> 89
                        </h2>
                        <p class="card-text">российских<br>регионов</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="description">
            <div class="cover">
                <div class="description__banner banner">
                    <h1 class="promo_title title">
                        <span class="promo_word word">У</span>крашения
                    </h1>
                </div>
                <div class="description_wrapper">
                    <h3 class="description_item design">дизайн
                        <span class="description_tooltip">Читайте статьи про тонкости ювелирного дела, любимых камней и
                            истории всемирно известных украшений</span>
                    </h3>
                    <h3 class="description_item year">год рождения
                        <span class="description_tooltip">В статьях об украшениях наш медиа-сервис уделяет внимание году
                            создания каждого ювелирного изделия. Это позволяет читателям лучше понимать историю
                            украшения, его стиль и значение в контексте того времени, когда оно было создано. Также мы
                            рассказываем о технологиях, которые использовались в производстве украшений того периода.
                            .
                        </span>
                    </h3>
                    <h3 class="description_item reloader">перезапуск
                        <span class="description_tooltip"> Мы также обращаем внимание на перезапуск модных трендов в
                            мире ювелирных изделий. В статьях мы рассказываем о том, какие украшения были популярны в
                            прошлом, как они вернулись в моду и какие изменения произошли в их дизайне и материалах. Это
                            помогает нашим читателям быть в курсе последних тенденций и выбирать украшения, которые
                            соответствуют их стилю.
                            .</span>
                    </h3>
                    <div class="braclet">
                        <img class="braclet__img" src="/assets/box/braclet.png" alt="">
                    </div>
                    <h3 class="description_item creator">создатель
                        <span class="description_tooltip">Мы также представляем наших читателей с создателями украшений,
                            рассказывая о их истории, стиле и философии. Мы делимся информацией о том, какие материалы и
                            технологии используются в производстве украшений, и как создатели украшений работают над
                            тем, чтобы каждое изделие было уникальным.
                        </span>
                    </h3>
                    <h3 class="description_item nowadays">в наше время
                        <span class="description_tooltip">Наконец, мы обращаем внимание на то, как украшения вписываются
                            в современный мир. Мы рассказываем о том, какие украшения популярны в настоящее время, как
                            они сочетаются с различными стилями одежды и какие аксессуары могут использоваться вместе с
                            украшениями. Мы также делимся советами по выбору украшений для различных случаев и
                            поводов.</span>
                    </h3>
                </div>
                <div class="description__hover">
                    <span class="">[</span>
                    <p class="">чтобы узнать подробности,<br>наведите курсор на факт</p>
                    <span class="">]</span>
                </div>
            </div>
        </section>
        <section class="map">
            <div class="cover">
                <div class="map__banner banner">
                    <h1 class="promo_title title title--white">
                        <span class="promo_word word">К</span>амни
                    </h1>
                </div>
                <div class="map_picture">
                    <img class="map_img" src="/assets/box/map.svg" alt="">
                </div>
                <div class="map__bar">
                    <img src="/assets/box/searcg.svg" alt="">
                    <span class="map__hashtag">#кварц</span>
                    <span class="map__hashtag">#индия</span>
                    <span class="map__hashtag">#голубой</span>
                </div>

            </div>
            <div>
            </div>
        </section>
        <section>
            <div class="overview description">
                <div class="cover">
                    <div class="overview__banner banner">
                        <h1 class="promo_title title">
                            <span class="promo_word word">Д</span>ля кого?
                        </h1>
                        <p class="overview_text text">для тех, кто неравнодушен<br>к прекрасному, кто любуется
                            над<br>ювелирными украшениями или даже<br>собирает и изучает драгоценные камни</p>
                    </div>
                    <div class="overview_wrapper">
                        <img class="overview_img set" src="/assets/box/set.png" alt="">
                        <img class="overview_img gems" src="/assets/box/gem.png" alt="">
                        <img class="overview_img necklace" src="/assets/box/necklace.png" alt="">
                    </div>
                </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <img class="footer__detail" src="/assets/common/footer.png" alt="">
            <div class="subscribe__wrapper">
                <div class="row">
                    <div class="follow">
                        <h1 class="footer__name title--wht">
                            <span class="footer_word">Ш</span>катулка
                        </h1>
                        <p class="footer__text">Шкатулка — самый утонченный медиа-сервис,<br>хранящий истории
                            легендарных
                            украшений<br>и драгоценных камней</p>
                    </div>
                    <div class="column">
                        <div class="distribution__wrapper">
                            <h3 class="distribution__title">Узнайте о запуске первыми!</h3>
                            <div class="footer__flex">
                                <div class="follow">
                                    <form action="" class="follow__form">
                                        <input class="follow__email" type="email" placeholder="">
                                        <button class="follow__btn" type="submit">Отправить</button>
                                    </form>
                                </div>
                            </div>
                            <div class="wrapper__footer">
                                <div class="wrapper__info">
                                    <div class="footer__info">
                                        <h3 class="footer__subtitle">Поддержка</h3>
                                        <ul class="footer__menu">
                                            <li><a class="footer__common text--opacity" href="">Сообщить об ошибке</a>
                                            </li>
                                            <li><a class="footer__common text--opacity" href="">shkatulka@mail.ru</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="footer__info">
                                        <h3 class="footer__subtitle">О нас</h3>
                                        <ul class="footer__menu">
                                            <li><a class="footer__common text--opacity " href="">Команда</a></li>
                                            <li><a class="footer__common text--opacity " href="">Правила платформы</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <ul class="footer__detals">
                                    <li><a class="footer__common common--white ">Пользовательское
                                            соглашение</a></li>
                                    <li><a class="footer__common common--white " href="">HSE ADC</a></li>
                                    <a class="copyright">@2023</a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </footer>
</body>
