@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito+Sans:opsz,wght@6..12,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito+Sans&display=swap');

footer {
    background: #1A1A1A;
}

.row {
    max-width: 1400px;
    margin: 0 auto;
    padding: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 350px;
}

.column {
    max-width: 1400px;
    margin: 0 auto;
    padding: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 85px;
}

.distribution__title {
    color: var(--white, #FFF);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 37px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -205px;
}

.footer__menu {
    color: rgba(255, 255, 255, 0.50);
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style-type: none;
    padding: 0;
}

.wrapper__info {
    max-width: 1400px;
    margin: 0 auto;
    padding: 1px;
    display: flex;
    flex-direction: row;
    gap: 143px;
    margin-top: 145px;
}

.footer__common {
    text-decoration: none;

}

.text--opacity {
    color: rgba(255, 255, 255, 0.50);
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.common--white {
    color: #FFF;
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__text {
    color: #FFF;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.6;
    margin-top: 19px;

}

.footer__name {
    color: #FFF;
    font-family: Copperplate;
    font-size: 51px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -250px;
}

.footer_word {
    color: #FFF;
    font-family: Bickham Script One;
    font-size: 145px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__detals {
    max-width: 1423px;
    margin: 0 auto;
    padding: 1px;
    gap: 60px;
    list-style-type: none;
    margin-top: 107px;
    margin-bottom: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.follow {
    flex-grow: 1;
}

.follow__form {
    position: relative;
    max-width: max-content;
    margin-top: 40px;
}

.follow__email {
    border-radius: 14px;
    background: #363535;
    width: 797px;
    height: 69px;
    box-sizing: border-box;
}

.follow__btn {
    width: 232px;
    height: 70px;
    border-radius: 13px;
    background: var(--white, #FFF);
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

}

.footer__subtitle {
    color: #FFF;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subscribe_word {
    color: white;
}

.subscribe_title {
    color: white;
}

.subscribe__wrapper {
    margin-top: 374px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form__input {
    border: none;
    border-bottom: 2px solid #797979;
    color: var(--white, #FFF);
    font-family: Copperplate;
    font-size: 45px;
    font-weight: 400;
    line-height: normal;
    background: transparent;
    margin-top: 101px;
}

.form__btn {
    border-radius: 23px;
    background: #1A1A1A;
    padding: 15px 35px;
    color: white;
    font-family: Copperplate;
    font-size: 45px;
    font-weight: 400;
    line-height: normal;
    background: transparent;
    margin-top: 87px;
}

.form__white {
    background-color: white;
    color: #1A1A1A;
    ;
}

.info-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__info {
    color: var(--white, #FFF);
    text-align: left;
    font-family: Copperplate;
    font-size: 38px;

}

.info-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.copyright {
    color: #FFF;
    text-align: right;
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 55px;
}